/** Шрифты */

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-MediumItalic.eot');
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
        url('/fonts/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto-MediumItalic.woff') format('woff'),
        url('/fonts/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Italic.eot');
    src: local('Roboto Italic'), local('Roboto-Italic'),
        url('/fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto-Italic.woff') format('woff'),
        url('/fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto-Bold.woff') format('woff'),
        url('/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
        url('/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto-Regular.woff') format('woff'),
        url('/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Medium.eot');
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto-Medium.woff') format('woff'),
        url('/fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-BoldItalic.eot');
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
        url('/fonts/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto-BoldItalic.woff') format('woff'),
        url('/fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-ThinItalic.eot');
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
        url('/fonts/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto-ThinItalic.woff') format('woff'),
        url('/fonts/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Black.eot');
    src: local('Roboto Black'), local('Roboto-Black'),
        url('/fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto-Black.woff') format('woff'),
        url('/fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Light.eot');
    src: local('Roboto Light'), local('Roboto-Light'),
        url('/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto-Light.woff') format('woff'),
        url('/fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-LightItalic.eot');
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
        url('/fonts/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto-LightItalic.woff') format('woff'),
        url('/fonts/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-BlackItalic.eot');
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
        url('/fonts/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto-BlackItalic.woff') format('woff'),
        url('/fonts/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Thin.eot');
    src: local('Roboto Thin'), local('Roboto-Thin'),
        url('/fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto-Thin.woff') format('woff'),
        url('/fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}


/** Общие стили */
html {
    box-sizing: border-box;
    font-size: 1.38vw;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto';
    font-style: normal;
    line-height: 1.4rem;
    font-weight: 400;
    color: #000000;
}

h1 {
    font-size: 3.6rem;
    line-height: 4.2rem;
    margin-bottom: 14.05rem;
}

h2 {
    font-weight: 300;
    font-size: 3.2rem;
    line-height: 3.75rem;
    text-align: center;
}

h3,
button {
    font-size: 1.8rem;
    line-height: 2.1rem;
    text-align: center;
}

button {
    font-weight: 300;
    border-radius: 2.2rem;
    background: #FFFFFF;
    border: 0;
    padding: 1.15rem 2.95rem 1.15rem 2.8rem;
}

p,
li {
    font-size: 1.2rem;
}

li {
    font-weight: 300;
}

a {
    text-decoration: none;
}



/** Сетка макета */
header {
    background: #666464;
    padding-top: 1.6rem;
    padding-bottom: 1.65rem;
}

.first-screen {
    background-image: url(/images/stock-horse-main.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 6rem;
    padding-bottom: 10rem;
    text-align: right;
}

.about-us {
    background-color: #666464;
    padding-top: 5.35rem;
    padding-bottom: 5.1rem;
    margin-bottom: 5.65rem;
}

.advantages {
    margin-bottom: 6rem;
}

.services {
    background-color: #C4C4C4;
    padding-top: 5.3rem;
    padding-bottom: 2.4rem;
    margin-bottom: 5.35rem;
}

.horses {
    margin-bottom: 7.95rem;
}

.rules {
    background-color: #666464;
    padding-top: 5.3rem;
    padding-bottom: 3.75rem;
    margin-bottom: 5.25rem;

}

.recommendations {
    margin-bottom: 5rem;
}

.form {
    background-color: #C4C4C4;
    padding-top: 5.05rem;
    padding-bottom: 5.9rem;
    margin-bottom: 5.55rem;
}

.contacts {
    margin-bottom: 3rem;
}

footer {
    background-color: #666464;
    padding-top: 4rem;
    padding-bottom: 4rem;
    color: #FFFFFF;

}

.content {
    width: 60rem;
    margin: 0 auto;
}




/** Компоненты */

/* 1 экран */

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 .logo svg{
    width: 3.7rem;
    height: 3.25rem;
}
.main-menu-flex {
    display: flex;
    justify-content: space-between;
}

.main-menu {
    flex-basis: 41.05rem;
    margin-left: 2.5rem;

}

.main-menu ul {
    list-style-type: none;
}

a {
    color: #FFFFFF;
}

.social__vk, .social__contacts{
    margin-left: 0.75rem;
}
.social svg{
    width: 2rem ;
    height: 2rem;
}

.main-menu__list a:hover {
    color: #000000;
    border-bottom: 0.05rem solid #000000;
}

/* 2 экран */
.about-us__title {
    color: #FFFFFF;
    margin-bottom: 2.05rem;
}

.about-us__description {
    color: #FFFFFF;
}


/* 3 экран */
.advantages-wrapper {
    float: left;
    width: 33.33%;
    height: 17rem;
}

.wrapper-overflow {
    overflow: hidden;
}

.pictures-wrapper {
    height: 8.5rem;
    position: relative;
    margin-bottom: 2.4rem;

}

.pictures-wrapper svg {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.advantages-title {
    margin-bottom: 5.25rem;
}

.pictures-wrapper svg:hover {
    transform: scale(1.1);

}
.graduate-cap svg{
    width:9.8rem ;
    height:7.9rem;
 }
 .globe svg{
    width: 6.6rem ;
    height:7.9rem;
 }
 .heart svg{
    width: 8.85rem ;
    height:7.9rem;
 }
 
 .shield svg{
    width: 6.5rem ;
    height: 7.9rem;
 }
 
 .pig svg{
    width: 6.5rem ;
    height: 7.9rem;
 }
 
 .label svg{
    width: 6.5rem ;
    height: 7.9rem;
 }

/* 4 экран */
.services {
    clear: both;
}

.services-title {
    margin-bottom: 5.25rem;
}

 .services-flex {
    display: flex;
    flex-wrap: wrap;
    margin-left: -2.3rem;
}
.services-flex img{
    width: 100%;
}
.services-wrapper {
    flex: 0 0 18.35rem;
    margin-left: 2.4rem;
    margin-bottom: 2.7rem;
    min-height: 33.25rem;
}

.services__description {
    background: #E5E5E5;
    min-height: 12.25rem;
    padding: 1.25rem 2.75rem 0 2.7rem;
    font-weight: 300;
    text-align: center;
}

.services__price {
    font-style: italic;
    font-size: 1.2rem;
    line-height:1.4em ;
    padding-top: 0.25rem ;
}



/* 5 экран */
.horses-title {
    margin-bottom: 5.25rem;
}

.horses-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2.45rem;
    grid-row-gap: 1.5rem;
}

.horses-picture {
    margin-bottom: 1.5rem;
    width: 100%;
}




/*  6 экран */
.rules-title {
    margin-bottom: 3.7rem;
    color: #FFFFFF;
}

.rules h3,
li {
    color: #FFFFFF;
}

.rules-overflow {
    overflow: hidden;
}

.rules-wrapper {
    float: left;
    width: 20%;
    height: 45rem;
    margin-left: 5rem;
    margin-bottom: 4.5rem;
}

.rules-pictures {
    height: 13.5rem;
    position: relative;
}

.rules-pictures svg {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.rules-general {
    clear: both;
}

.rules-general h3 {
    text-align: left;
    margin-bottom: 2rem;
}

.h3-wrapper {
    height: 10.5rem;
}

.rules-general li {
    margin-left: 1.4rem;
    margin-bottom: 2rem;
}
 
.first-rules-svg svg{
    width:12.3rem;
    height: 10.25rem;
}

.second-rules-svg svg{
    width:15rem;
    height: 16.4rem;
}

.third-rules-svg svg{
    width:16rem;
    height: 10.7rem;
}



/*  7 экран */
.recommendations-title {
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.recommendations-list {
    color: #000000;
    margin-bottom:2rem;
}
.recommendations-wrapper{
    margin-left: 1.15rem;
}


/*  8 экран */
.form {
    background: C4C4C4;
}

.form-title {
    text-transform: uppercase;
    margin-bottom: 5.2rem;
}

.form-field {
    background-color: #666464;
    padding-top: 4.45rem;
    padding-bottom: 2.7rem;
    overflow: hidden;
}

.field-first__name,
.field-second__phone {
    background-color: #FFFFFF;
}

.field-first {
    overflow: hidden;
    float: left;
    width: 40%;
    margin-left: 2.7rem;
}

.field-first__label {
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 300;
    margin-left: 8.5rem;
    margin-bottom: 0.6rem;
}

.field-second {
    float: left;
    width: 40%;
    margin-left: 2.5rem;
    margin-bottom: 2.5rem;
    overflow: hidden;
}

.button-signUp {
    clear: both;
    margin-left: 18.9rem;
}

.field-first__name svg{
    width: 3.75rem;
    height: 3rem;
}
.field-second__phone svg{
    width: 2.95rem;
    height: 3rem;
}


/*  9 экран */
.contacts-title {
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.contacts-paragraph__first {
    margin-bottom: 1.5rem;
}

.contacts-paragraph__second {
    margin-bottom: 6.5rem;
}

.contacts-route__first {
    float: left;
    width: 40%;
}

.contacts-pointer {
    margin-bottom: 5rem;
}

.contacts-route__second {
    float: left;
    width: 40%;
    margin-left: 9rem;
}

.contacts-route {
    overflow: hidden;
}

.contacts-route p {
    clear: both;
    margin-bottom: 2.5rem;
}

.contacts-route__picture {
    height: 9rem;
    position: relative;
    margin-bottom: 2.5rem;
}

.contacts-route__picture svg {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.map {
    text-align: left;
    margin-bottom: 2.5rem;
}

.train svg{
    width: 5.4rem;
    height: 7.9rem;
}

.car svg{
    width: 9.75rem;
    height: 7.9rem;
}
.map-img{
   width: 100%;
}

/*  10 экран */
.footer-picture,
.footer-telephone,
.footer-social {
    float: left;
}

.content-wrapper {
    overflow: hidden;
}

.footer-telephone {
    line-height: 6;
    margin-left: 1.5rem;
    font-size: 1.8rem;
    font-weight: 300;
}

.footer-social {
    line-height: 3;
    margin-left: 6.5rem;
}

.footer-social__contacts,
.footer-social__instagram {
    margin-left: 1.5rem;
}

.footer-social__paragraf {
    text-align: center;
}
.footer-picture{
    width: 6.9rem;
    height: 6rem;
}

.footer-social svg{
    width: 2rem;
    height: 2rem;
}


/** Медиа – правила */